<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="login.css">
    <script type="text/javascript" src="login.js"></script>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>

    <!-- Comment out (or don't include) services that you don't want to use -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-storage.js"></script> -->
    
</head>

<body>
    <div class="music1"></div>

    <div class="container-login">
        <!--Email and password forms-->
        <form class="emailInput">
            <input type="text" v-model="email" name="email" placeholder="Email . . .">
        </form>

        <form class="passInput">
            <input type="text" v-model="password" name="pass" placeholder="Password . . ." inputmode="numeric" minlength="8" maxlength="30" size="30" id="passwordLength">
        </form>
        <button v-on:click="signIn" class="loginButton"> ENTER </button>

        <br> <button class="register" id="register"> Click here to register! </button>

    </div>
    <button class="forgottenPassword">Forgot your password?</button>
    <div class="container-loginAPIs">
        <button class="faceBook"> FBImage </button>
        <div class="buttonSpace"></div>
        <button class="google"> GImage </button>
    </div>

    
    <script>
            var config = {
                apiKey: "AIzaSyAspp7dZuAo2vu2901wEhSQAxltem5wanA",
                authDomain: "symphonicsecret.firebaseapp.com",
                databaseURL: "https://symphonicsecret.firebaseio.com",
                projectId: "symphonicsecret",
                storageBucket: "symphonicsecret.appspot.com",
                messagingSenderId: "836529216891"
            };
            firebase.initializeApp(config);
            
            var app = new Vue({
            el: '#vue-app'
            });
    
            Vue.component('todo-component', {
                template: '#todo-component',
                data: function () {
                    return {
                        items: [
                            {
                                id: 'item-1',
                                title: 'Checkout vue',
                                completed: false
                            }, {
                                id: 'item-2',
                                title: 'Use this stuff!!',
                                completed: false
                            }
                        ],
                        newItem: ''
    
                    };
                },
                methods: {
                    addItem: function () {
                        if (this.newItem) {
                            var item = {
                                id: Math.random(0, 10000),
                                title: this.newItem,
                                completed: false
                            };
    
                            this.items.push(item);
                            this.newItem = '';
                        }
                    }
                }
        });
    
        </script>


    <div class="music2"></div>



</body>
