body{
    font-family: "Times", Times, serif;
    background-image: radial-gradient( #b6d4e7 0%, #417da5 100%);
 }
.music1{ /*Top music notes*/
    position: relative;
    height: 10%; 
    width: 100%;
    background-size: 250px;
    background-image:url(https://i.imgur.com/3RhqzJb.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground2 40s linear infinite;   
}
.music2{/*Bottom music notes*/
    position: relative;
    height: 10%; 
    width: 100%;
    background-size: 250px;
    background-image:url(https://i.imgur.com/3RhqzJb.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground1 40s linear infinite;   
}
@keyframes animatedBackground1{/*Scrolls right to left on the top*/
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
    
@keyframes animatedBackground2{/*Scrolls left to right on the bottom*/
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(225, 252, 255);
    background-color: transparent;
    border-radius: 4px;
    width: 10%;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
    width: 91%;
    background-color: rgb(17, 59, 83);
}

 .container-login{
    width: 70vw;
    height: 40vh;
    background: rgba(51, 50, 50, 0.5);
    margin-left: 12%;
    border-radius: 30px;
    padding-top: 5.5vh;
    padding-bottom:5.5vh;
    padding-left: 6vw;
    
}