body{
    font-family: "Times", Times, serif;
    background-image: radial-gradient( #b6d4e7 0%, #417da5 100%);
 }
.music1{ /*Top music notes*/
    position: relative;
    height: 10%; 
    width: 100%;
    background-size: 300px;
    background-image:url(https://i.imgur.com/3RhqzJb.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground2 40s linear infinite;   
}
.music2{/*Bottom music notes*/
    position: relative;
    height: 10%; 
    width: 100%;
    background-size: 300px;
    background-image:url(https://i.imgur.com/3RhqzJb.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground1 40s linear infinite;   
}
@keyframes animatedBackground1{/*Scrolls right to left on the top*/
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
    
@keyframes animatedBackground2{/*Scrolls left to right on the bottom*/
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 4px;
    width: 30%;
    transition: width 0.4s ease-in-out;
    position: relative;
}

input[type=text]:focus{
    width: 91%;
    background-color: rgb(17, 59, 83);
    border: 3px solid rgb(167, 211, 212);
}

 .container-login{
    width: 70vw;
    height: 30vh;
    background: rgba(51, 50, 50, 0.5);
    margin-top: 15%;
    margin-left: 12%;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 6vw;
}

 .loginButton{
     background-color: #b6d4e7;
     border: none;
     color: rgb(17, 59, 83);
     padding: 2%;
     left: 50%;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
     border-radius: 12px;
 }

 .disabledLogIn{
     opacity: 0.6;
     cursor: not-allowed
 }

.register {
    background-color: transparent;
    color: rgba(17, 59, 83, .5);
    margin-top: 2vh;
    padding-bottom: 2%;
    margin-left: 28%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: -1px;
}

.forgottenPassword {
    background-color: transparent;
    color: rgba(17, 59, 83, .5);
    margin-left: 38.4%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: -1px;
}

.container-loginAPIs {
    width: 50vw;
    height: 15vh;
    background: transparent;
    margin-left: 28%;
    border-radius: 30px;
    padding-top: 10vw;
}

.faceBook {
    background-color: rgb(17, 59, 83);
    border: none;
    color: white;
    padding: 2%;
    left: 50%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.buttonSpace{
    width: 20vw;
    height: auto;
    display: inline-block;

}

.google {
    background-color: rgb(17, 59, 83);
    border: none;
    color: white;
    padding: 2%;
    left: 80%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}