.music1{ /*Top music notes*/
    position: relative;
    width: 100%;
    background-size: 300px;
    background-image: url(https://i.imgur.com/56sW0hH.png);
    /*Previous symbols background-image:url(https://i.imgur.com/3RhqzJb.png);*/
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground2 40s linear infinite;   
}

.music2{/*Bottom music notes*/
    position: relative;
    height: 12%; 
    width: 100%;
    background-size: 300px;
    background-image: url(https://i.imgur.com/56sW0hH.png);
    /*Previous symbols background-image:url(https://i.imgur.com/3RhqzJb.png);*/
    background-repeat: repeat-x;
    background-position: 0px 0px;
    animation: animatedBackground1 40s linear infinite;   
}
@keyframes animatedBackground1{/*Scrolls right to left on the top*/
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
    
@keyframes animatedBackground2{/*Scrolls left to right on the bottom*/
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}